body { background: #FCFCFC; color: rgba(0,0,0,0.87); 
	font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }

#frontpage { max-width: 500px; margin: 0 auto 16px; 
	padding-top: 33vh; border-radius: 3px; text-align: center; }

#frontpage h1 { font-family: Helvetica Neue, Calibri Light, Roboto, sans-serif; font-size: 48px;
 font-weight: 200; color: rgba(0,0,0) !important; margin: 0 0 16px; }

#frontpage p { line-height: 140%; margin: 16px 0 24px; font-size: 14px; font-weight: 300; }

#links { margin: 30px 0 0 !important; }

#links img { height: 22px; margin: 0 15px 0 0; }

#footer { position: fixed; left: 0; bottom: 0; width: 100%; text-align: center; }

#footer p, a {font-size: 12px; font-weight: 300; color: rgba(0,0,0,0.6) !important; }